@use "../../styles/variables.scss" as *;

.form-popup {
  background: var(--popup-bg, #fff);
}

@media (prefers-color-scheme: dark) {
  .form-popup {
    --popup-bg: #18181b;
  }
}

@media (prefers-color-scheme: light) {
  .form-popup {
    --popup-bg: #fff;
  }
}

.form-popup .dx-toolbar-center {
  width: 100%;
}

.form-popup-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--popup-toolbar-item-spacing);

  &.flex-buttons {
    .dx-button {
      flex: 1;
    }
  }
}